body {
    background: url(./image/bts4.jpg) no-repeat bottom  scroll;
    background-position: 5% 5%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#conteudo {
    
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}

img {
    max-width: 100%;
}

a{
    text-decoration: none;
}

.btn {
    background: #993399;
    color: white;
    border: none;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
}

